<h2>Formulaire</h2>

<section>
    <fieldset>
        <legend>Contact</legend>
          <label for="nom">Nom <em>*</em></label>
          <input id="nom" placeholder="Olivier Serre" autofocus="" required="" wtx-context="08F61DD3-C42F-4195-9AE8-4D8716A18E3B"><br>
          <label for="telephone">Portable</label>
          <input id="telephone" type="tel" placeholder="06xxxxxxxx" pattern="06[0-9]{8}" wtx-context="99E97D23-76D7-493A-8287-3D11A73CF2B6"><br>
          <label for="email">Email <em>*</em></label>
          <input id="email" type="email" placeholder="prenom.nom@polytechnique.edu" required="" pattern="[a-zA-Z]*.[a-zA-Z]*@polytechnique.edu" wtx-context="A069B9AE-7D4B-43BB-985B-07D999206750"><br>
      </fieldset>

</section>


